{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center pb-2 border-bottom " style="color: #5bc0de;">Publier un nouvel article</h1>


    {% include 'blog/_form.html.twig' with {form:form,buttonName: 'Publier'} %}
    
{% endblock %}